html {
  background-color: #282c34;
  background: url("https://images.unsplash.com/photo-1534796636912-3b95b3ab5986?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80");
  background-size: cover;
  background-attachment: fixed;
}

.description {
  max-width: 600px;
  margin: 30px;
  height: auto;
  text-align: left;
  font-size: calc(4px + 2vim);
  font-family: 'Titillium Web', sans-serif;
  font-weight: 200;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.description2 {
  height: auto;
  text-align: left;
  font-size: 1.1rem;
  font-weight: 200;
  margin: 30px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  margin: 40px auto;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  width: 600px;
  background-color: #1a1d24;
  border-radius: .5rem;

}

.App-header {

}

.content {
  color: white;
  max-width: 500px;
  height: auto;
}

.content h2 {
  font-size: 1.8rem;
}

img {
  width: 100%;
  object-fit: cover;
  border-radius: .3rem;
}

.btn {
  display: block;
  background-color: #3c3f43;;
  margin: 1.1rem auto;
  height: 35px;
  width: 175px;
  border-radius: .3rem;
  border: #1a1d24;
  color: #fdfdfd;
  font-size: 1.2rem;
}

.btn:hover {
  background-color: #1a1d24;
  border: solid .5px white;
}

.btn2 {
  display: none;
}

.content h6 {
  margin: 5px;
}


@media only screen and (max-width: 600px) {
  .App {
    width: 100%;
    border-radius: 0;
  }

  .content {
    width: 100%;
  }

}

@media only screen and (max-width: 350px) {
  .btn {
    width: 100%;
    border-radius: 0;
  }
}