html {
  background-color: #282c34;
  background: url("https://images.unsplash.com/photo-1534796636912-3b95b3ab5986?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80");
  background-size: cover;
  background-attachment: fixed;
  
  
}

.description {
  max-width: 600px;
  margin: 30px auto;
  height: auto;
  text-align: left;
  font-size: 1.1rem;
  background-color: #1a1d24;
  border-radius: .25rem;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 200;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.description2 {
  height: auto;
  text-align: left;
  font-size: 1.1rem;
  background-color: #1a1d24;
  border-radius: .25rem;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 200;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  max-width: 700px;
  background-color: #1a1d24;

}

.App-header {
  min-height: 3rem;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 2rem;
}

.content {
  color: white;
  width: 400px;
  height: auto;
  margin-bottom: 40px;
}

img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: .3rem;
}

.btn {
  display: block;
  background-color: #3c3f43;;
  margin: 1.1rem auto;
  height: 35px;
  width: 175px;
  border-radius: .3rem;
  border: #1a1d24;
  color: #fdfdfd;
  font-size: 1.2rem;
}

.btn:hover {
  background-color: #1a1d24;
  border: solid 1px white;
}

.btn2 {
  display: none;
}

.content h6 {
  margin: 5px;
}